@use "sass:color";
@use "@material/theme/color-palette";

// Svelte Colors!
@use "@material/theme/index" as theme with (
  $primary: #3c3836,
  $secondary: #f9f5d7,
  $surface: #ebdbb2,
  $background: #fbf1c7,
  $error: #cc241d
);

html,
body {
  background-color: var(--fg);
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
