:root {
  --sidebar-width: 265px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 1rem;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  margin: 0 auto;
}

/* Material UI Card overrides */
.mdc-card {
  border-radius: 16px !important;
}

.mdc-dialog__surface {
  border-radius: 16px !important;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
}

@media (max-width: 1024px) {
  body {
    padding: 0.5rem;
  }
}

/* Override SMUI hardcoded background colors */
html,
body {
  background-color: var(--app-background) !important;
  transition: background-color 0.3s ease;
}

/* Global styles for CodePreview to avoid per-component JS updates */
.code-preview-container {
  background-color: var(--bg0) !important;
}
.code-preview-container .tabs {
  background-color: var(--bg1) !important;
  color: 0.3s !important;
}

.smui-button--color-secondary {
  background-color: var(--mdc-theme-surface) !important;
  //color: var(--mdc-theme-on-secondary) !important;
}
// Add this at the bottom
.mdc-button__icon,
.mdc-deprecated-list-item,
.mdc-select__selected-text,
.mdc-button,
.mdc-tab__text-label,
.mdc-text-field__input,
.mdc-floating-label {
  color: var(--text-color) !important;
  transition:
  background-color 0.3s,
  color 0.3s !important;
}

.mdc-select__dropdown-icon {
  fill: var(--color15) !important;
}

.mdc-notched-outline__leading,
.mdc-notched-outline__trailing {
  border-color: var(--color15) !important;
}

.mdc-tab .mdc-tab__text-label {
  //color: var(--mdc-tab-text-label-color-default) !important;
  transition: color 0.3s !important;
}

.mdc-tab-indicator .mdc-tab-indicator__content {
  //background-color: var(--mdc-tab-indicator-active-color) !important;
  transition: background-color 0.3s !important;
}

.mdc-dialog .mdc-dialog__content {
  //color: var(--mdc-dialog-content-ink-color) !important;
  transition: color 0.3s !important;
}

.mdc-select__anchor {
  max-height: 3rem !important;
}
